<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>navBar</title>
</head>
<body>
    <header class="">
        <div class="">
            <nav class="">
                <ul class="">
                    <li class="buttonHeader" id="accueilJS"><button>Accueil</button></li>
                    <li class="buttonHeader" id="reglesJS"><button>Règles</button></li>
                    <li class="buttonHeader" id="contactJS"><button>Contact</button></li>
                </ul>
            </nav>
        </div>
    </header>

</body>
</html>